/* .MuiAppBar-colorPrimary {
    background-color: #e15959 !important;
} */

.MuiGrid-root {
  /* background-color: black; */
  /* background: linear-gradient(180deg, #030509, #384c5f 50%, #b4c6d2); */
  height: auto;
  align-content: left;
  max-width: 100%;
  margin-bottom: 70px;
  display: flex;
  margin-top: 20px;
}

.home-banner-text {
  color: white !important;
  font-size: 3rem;
  text-align: left;
  /* margin: 100px; */
  margin-left: 100px;
  margin-top: 60px;
  max-width: 100%;
}

.home-banner-text h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.home-banner-text span {
  font-size: 2.5rem;
}

.home-banner-text span::after {
  content: "Front end Developer";
  color: #b4c6d2;
  /* color: linear-gradient(180deg, #030509, #384c5f 50%, #b4c6d2) !important; */
  padding-left: 0px;
  animation: text 10s infinite;
}

@keyframes text {
  0%,
  33% {
    content: "Software Developer";
  }

  34%,
  66% {
    content: "Web Developer";
  }

  67%,
  100% {
    content: "IT Support";
  }
}

.home-banner-text p {
  font-size: 1.5rem;
  margin-bottom: 5px;
  margin-top: 5px;
}

.inbox .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  /* float: left; */
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.inbox .button:hover {
  width: 200px;
}

.inbox .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.inbox .button:nth-child(2):hover .icon {
  background: #1da1f2;
}

.inbox .button:nth-child(3):hover .icon {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.inbox .button:nth-child(4):hover .icon {
  background: #333;
}

.inbox .button:nth-child(5) :hover .icon {
  background: #ff0000;
}

.inbox .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

/* .inbox .button:hover .icon i {
            color: #fff;
        } */

.inbox .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.inbox .button:nth-child(1) span {
  color: #4267b2;
}

.inbox .button:nth-child(2) span {
  color: #1da1f2;
}

.inbox .button:nth-child(3) span {
  color: #e1306c;
}

.inbox .button:nth-child(4) span {
  color: #333;
}

.inbox .button:nth-child(5) span {
  color: #ff0000;
}

.inbox {
  display: flex;
  gap: 1px;
  height: 100%;
  width: 100%;
  place-items: center;
  background: Linear-gradient (315deg, #ffffff 0%, #d7e1ec 74%);
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins/Poppins-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.banner-image {
  width: 450px;
  height: 450px;
  margin-top: 60px;
  margin-right: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 10px solid #010202;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
  border-style: hidden;
  max-width: 100%;
  margin-left: 100px;
  background: radial-gradient(
    circle,
    rgba(72, 112, 114, 0.264),
    transparent 70%
  ) !important;
}

.banner-image:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}
.banner-location {
  color: #acdad7;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}
