section {
  display: flex;
  justify-content: left;
  margin-top: 30px;
  --accent-color: #3b82f6;
  gap: 10px;
}

i {
  font-size: 30px;
}

/* Facebook Social Icon*/
a.social-facebook {
  --accent-color: #3b98f6;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0 10px;
  border: 2px solid #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

a.social-facebook::before {
  content: "";
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100px;
  transition: 0.9s all ease-in-out;
}

a.social-facebook:hover::before {
  top: 0;
}

a.social-facebook i {
  width: 30px;
  height: 30px;
  color: #000;
  transition: 0.9s all ease-in-out;
}

a.social-facebook:hover i {
  color: #fff;
  z-index: 1;
  transform: rotate(360deg);
}

/* Github Social Icon*/
a.social-github {
  --accent-color: black;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0 10px;
  border: 2px solid #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

a.social-github::before {
  content: "";
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100px;
  transition: 0.9s all ease-in-out;
}

a.social-github:hover::before {
  top: 0;
}

a.social-github i {
  width: 30px;
  height: 30px;
  color: #000;
  transition: 0.9s all ease-in-out;
}

a.social-github:hover i {
  color: #fff;
  z-index: 1;
  transform: rotate(360deg);
}

/* Instagram Social Icon*/
a.social-instagram {
  --accent-color: linear-gradient(
    145deg,
    var(--blue) 10%,
    var(--color-purple-50)
  ) !important;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0 10px;
  border: 2px solid #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

a.social-instagram::before {
  content: "";
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100px;
  transition: 0.9s all ease-in-out;
}

a.social-instagram:hover::before {
  top: 0;
}

a.social-instagram i {
  width: 30px;
  height: 30px;
  color: #000;
  transition: 0.9s all ease-in-out;
}

a.social-instagram:hover i {
  color: #fff;
  z-index: 1;
  transform: rotate(360deg);
}

/* LinkedIn Social Icon*/
a.social-linked {
  --accent-color: #0c63ba;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0 10px;
  border: 2px solid #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

a.social-linked::before {
  content: "";
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100px;
  transition: 0.9s all ease-in-out;
}

a.social-linked:hover::before {
  top: 0;
}

a.social-linked i {
  width: 30px;
  height: 30px;
  color: #000;
  transition: 0.9s all ease-in-out;
}

a.social-linked:hover i {
  color: #fff;
  z-index: 1;
  transform: rotate(360deg);
}
