.MuiBox-root {

    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.MuiBox-root :hover {
    opacity: 2.8 !important;
    box-shadow: none !important;
    /* color: black !important; */
    /* transform: scale(1.05);
    transition: transform 0.5s; */
}

.MuiPaper-root {
    background-color: transparent !important;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.1) !important;
    border-radius: 10 !important;
    color: white !important;
    width: 800px;
}


.MuiPaper-root :hover {
    opacity: 2.8 !important;
    box-shadow: none !important;
    color: black !important;
    transform: scale(1.05);
    transition: transform 0.5s;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* height: auto; */
    background-color: transparent !important;
    padding: 20px;
}

Col {
    width: 20px;
}

.voster-logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.stc-logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.chito-logo {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

.flex-container h3 {
    display: flex;
    justify-content: center;
    font-weight: bold;
}