.MuiAppBar-colorPrimary {
    background: transparent !important;



}

.MuiButton-outlined {
    color: white !important;
    border-color: white !important;
    border-radius: 15px !important;
}

.nav-button {
    margin-left: auto;
}

.MuiAppBar-root {
    box-shadow: none !important;
    position: sticky !important;
}

.MuiButton-outlined:hover {
    background-color: white !important;
    color: black !important;
}

a {
    color: white;
}
.navbar {
    /* backdrop-filter: blur(30px); */
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.3);
    border: 1.5px solid rgba(255, 255, 255, 0.18);
    /* background-color: transparent !important; */
}