.MuiAppBar-colorPrimary {
    background: transparent !important;



}

.MuiButton-outlined {
    color: white !important;
    border-color: white !important;
    border-radius: 15px !important;
}

.nav-button {
    margin-left: auto;
}

.MuiAppBar-root {
    box-shadow: none !important;
    position: sticky !important;
}

.MuiButton-outlined:hover {
    background-color: white !important;
    color: black !important;
}

a {
    color: white;
}