.services-section {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
  margin: 80px;
}
/* ─── SERVICES ─── */
#services {
  background: var(--bg2);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.service-card {
  /* background: var(--bg3); */
  border: 1px solid var(--border);
  border-radius: 20px;
  margin-top: 30px;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  transition:
    border-color 0.3s,
    transform 0.3s;
}
.service-card:hover {
  border-color: var(--border2);
  transform: translateY(-4px);
}

.service-card::before {
  content: "";
  position: absolute;
  top: -60px;
  right: -60px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(79, 255, 176, 0.04),
    transparent 70%
  );
}

.service-num {
  font-family: var(--font-head);
  font-size: 2.5rem;
  font-weight: 800;
  color: #b4c6d2;
  line-height: 1;
  margin-bottom: 1.2rem;
  display: block;
}

.service-icon {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  display: block;
}

.service-title {
  font-family: var(--font-head);
  font-weight: 700;
  font-size: 1.05rem;
  color: #b4c6d2;
  margin-bottom: 0.75rem;
  justify-self: center;
}

.service-desc {
  color: var(--muted);
  font-size: 0.875rem;
  line-height: 1.75;
}
