.skills-section {
    padding: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: black;
    height: 130vh;
    margin: 20px;
}

.MuiChip-outlined {
    border-color: black;
    color: black;
    background-color: #a09d9da3 !important;
}