.flip-card {
  background-color: transparent;
  width: 650px;
  height: 254px;
  /* perspective: 1000px; */
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* border: 1px solid #030509; */
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(180deg, #030509, #384c5f 50%, #b4c6d2);
  color: #b4c6d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flip-card-back {
  background: linear-gradient(180deg, #030509, #384c5f 50%, #b4c6d2);
  color: white;
  transform: rotateY(180deg);
}

.flip-card-front img {
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.flip-card-front p {
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: 600;
}

.container {
  padding: 10px 16px;

}

.row {
  margin-top: 30px;
}